@using Repositories.QueryObject
@using Web.HtmlHelpers
@model Web.Models.ViewModel.TablePageModel
<h2>@Model.Title</h2>
<h4>@Model.SubTitle</h4>
<hr />

@using (Html.BeginForm(ViewContext.RouteData.Values["action"] as string, ViewContext.RouteData.Values["controller"] as string, FormMethod.Get))
{
    var columns = Model.GetColumns().ToList();

    //Поиск по всем
    if (Model.GlobalSearch)
    {
        <div class="col-md-offset-9">
            @Html.EditorFor(n => n.QueryObject.Search, new { placeholder = "Search", @class = "submitonenter" })
        </div>
    }


    @Html.HiddenFor(model => model.QueryObject.SortingColumn)
    @Html.HiddenFor(model => model.QueryObject.SortingDirection)
    <table class="table tablesorting">
        <thead>
            @*Фильтр по колонкам*@
            @if (columns.Any(n => n.IsFiltered))
            {
                <tr>
                    @for (var i = 0; i < columns.Count; i++)
                    {
                        <td>
                            @Html.HiddenFor(n => n.QueryObject.SearchCoditionals[i].Key, new { @Value = columns[i].Key })
                            @if (columns[i].IsFiltered)
                            {
                                @Html.EditorFor(n => n.QueryObject.SearchCoditionals[i].Value, new { placeholder = columns[i].Title, @class = "submitonenter" })
                            }
                        </td>
                    }
                </tr>
            }

            @*Заголовки колонок*@
            <tr>

                @foreach (var column in columns)
                {
                    var sotingClass = "";
                    if (column.Key == Model.QueryObject.SortingColumn && Model.QueryObject.SortingDirection != SortingDirection.None)
                    {
                        sotingClass = "glyphicon ";
                        sotingClass += Model.QueryObject.SortingDirection == SortingDirection.Asc ? "glyphicon-chevron-up" : "glyphicon-chevron-down";
                    }
                    <th data-key="@column.Key">
                        @column.Title <span class="@sotingClass"></span>
                    </th>
                }
            </tr>
        </thead>
        @*Пейджинг*@
        @if (Model.GetPaing().TotalPages > 1)
        {
            <tfoot>
                <tr>
                    <td colspan="@(columns.Count())">
                        @Html.DisplayFor(model => model, "Paging")
                    </td>
                </tr>
            </tfoot>
        }

        @*Записи*@
        <tbody>
            @if (!Model.GetItems().Any())
            {
                <tr>
                    <td colspan="@(columns.Count())">
                        no result
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.GetItems())
                {
                    <tr>
                        @Html.DisplayFor(n => item, "TableRow")
                    </tr>
                }
            }
        </tbody>
    </table>
}
